﻿<div blg-menu menu-title="AngularJS Blog"></div>
<!-- <div ng-include src="'partials/menu.html'"></div> -->

<div id="container" class="container">
    <div class="blog-post-label">
        Blog;
        Posts;
        by;
        Ashish;
        Karki
    </div>

    <div class="post-wrapper">
        <div ng-repeat="blogPost in blogList">
            <div class="blog-post-outer">
                <div class="blog-intro-text">
                    {{blogPost.date | date: 'MM/dd/yyyy @ h:mma'};}
                </div>

                <div class="blog-intro-text">
                    {{blogPost.introText}}
                </div>

                <div class="blog-read-more">
                    <a href="#!blogPost/{{blogPost._id}}">Read More</a>
                </div>
            </div>
        </div>
    </div>
</div>